<!DOCTYPE html>
<html>

	<head>
		<meta charset=UTF-8 /> <meta name=Description content=测试使用 /> 
		<title>
			复杂业务测试
		</title>
	<link href="/dist/css/com-test.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"><link href="/dist/css/common.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"></head>

	<body>
		<div class=nav> <div class=w> <div class=logo> <img class=logo-img src=/dist/resource/logo.png alt=""/> <div class=logo-content> <p class=logo-name>云性能评测平台</p> <span class="logo-info hui">cloud Performance Benchmark Platform</span> </div> <div class=user-info> <span class="user not-login"> <span class="link js-login">登录</span> <span class="link js-register">注册</span> </span> <span class="user login"> <span class=link-text> 欢迎， <span class=username></span> </span> <span class="link js-logout">退出</span> </span> </div> </div> </div> </div>
		<ul class=nav-side> <div class="w nav-box"> </div> </ul> 
		<div class="w">
			<div class="title">复杂业务应用测试--任务列表</div>
			<!--基本信息-->
			<div class="com-header">
				<div class="time fl">测试时间</div>
				<div class="name fl">任务名称</div>
				<div class="yun_name fl">云平台名称</div>
				<div class="num fl">测试机总数</div>
				<div class="status fl">测试状态</div>
			</div>
			<div class="com-content">
				<li class="ov com-list com-hover">
					<input type="checkbox" class="input_check fl"/>
					<div class="time fl">测试时间</div>
					<div class="name fl">任务名称</div>
					<div class="yun_name fl">云平台名称</div>
					<div class="num fl">测试机总数</div>
					<div class="status fl">测试状态</div>
				</li>
				<li class="ov com-list">
					<div class="time fl">测试时间</div>
					<div class="name fl">任务名称</div>
					<div class="yun_name fl">云平台名称</div>
					<div class="num fl">测试机总数</div>
					<div class="status fl">测试状态</div>
				</li>
				<li class="ov com-list">
					<div class="time fl">测试时间</div>
					<div class="name fl">任务名称</div>
					<div class="yun_name fl">云平台名称</div>
					<div class="num fl">测试机总数</div>
					<div class="status fl">测试状态</div>
				</li>
			</div>
			<div class="all-list ov">
				<div class="all-item fl">
					共有<span class="all-num">2</span>条
				</div>
				<div class="num-change fl ov">
					<input class="fl input-num" type="text" name=""  value="1" />
					<span class="fl " style="margin-left: 20px;">of</span>
					<span class="fl all-page" >2</span>
					<div class="fl css-click-go" >GO</div>
				</div>
				
				<div class="next-page fr ">下一页</div>
				<div class="last-page fr gray">上一页</div>
				
			</div>
		</div>
		<script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script> <div class=footer> <div class=w> <div class=footer-item> <a href=# class=link>联系我们</a>| <a href=# class=link>帮助中心</a> </div> <p class=copyright> Copyright © 2017 中国移动通讯版权所有 </p> </div> </div>
	<script type="text/javascript" src="/dist/js/com-test.js?b7c4b0dbe368ee9a6d3f"></script><script type="text/javascript" src="/dist/js/common.js?b7c4b0dbe368ee9a6d3f"></script></body>

</html>