<!DOCTYPE html>
<html>

	<head>
		<meta charset=UTF-8 /> <meta name=Description content=测试使用 /> 
		<title>
			帮助中心
		</title>
	<link href="/dist/css/common.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"><link href="/dist/css/help-center.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"></head>

	<body>
		<div class=nav> <div class=w> <div class=logo> <img class=logo-img src=/dist/resource/logo.png alt=""/> <div class=logo-content> <p class=logo-name>云性能评测平台</p> <span class="logo-info hui">cloud Performance Benchmark Platform</span> </div> <div class=user-info> <span class="user not-login"> <span class="link js-login">登录</span> <span class="link js-register">注册</span> </span> <span class="user login"> <span class=link-text> 欢迎， <span class=username></span> </span> <span class="link js-logout">退出</span> </span> </div> </div> </div> </div>
		<ul class=nav-side> <div class="w nav-box"> </div> </ul> 
		<div class="w">
			<!--任务中心-->
			<div class="task">
				<img src="/dist/resource/logo-2.png" alt="" class="logo-2" />
				<div class="task-title fl">任务中心</div>
				<div class="task-btn fr">返回</div>
			</div>
			<div class="title">压力测试详情</div>
			<div class="title-header gray">
				<span class="title-content fl">所有业务资源优化足迹</span>
				<img class="title-img" src="/dist/resource/title-question.png" alt="" />
			</div>
			<div class="box">
				
			</div>
			<!--<div class="z-header">
				<div class="z-header-number fl">
					A
				</div>
				<div class="fl z-header-content">
					四川省业务一
				</div>
			</div>-->
			<!--<div class="z-box">
				<div class="virt ">
					虚拟机规格足迹
				</div>
				<ul class="virt-box ">
					<div class="v-header ">
						<span class="v-time fl">轮次{{name}}</span>
						<span class="v-1">原始</span>
						<span class="v-1">第一轮</span>
						<span class="v-1">第二轮</span>
						<span class="v-1">第三轮</span>
						<span class="v-1">第四轮</span>
						<span class="v-1">第五轮</span>
						<span class="v-1">第六轮</span>
					</div>
					<li class="h-content">
						<span class="v-time  fl">CPU</span>
						<span class="v-1  gray-qian">32</span>
						<span class="v-1 ">32</span>
						<span class="v-1 ">16</span>
						<span class="v-1 ">10</span>
						<span class="v-1 ">8</span>
						<span class="v-1  lan">6</span>
						<span class="v-1 fl">4</span>
					</li>
					<li class="h-content">
						<span class="v-time  ">内存</span>
						<span class="v-1  gray-qian">32</span>
						<span class="v-1 ">32</span>
						<span class="v-1 ">16</span>
						<span class="v-1 ">10</span>
						<span class="v-1 ">8</span>
						<span class="v-1  lan">6</span>
						<span class="v-1 ">4</span>
					</li>
				</ul>
				<div class="virt ">
					资源利用率
				</div>
				<ul class="res">
					<div class="res-header ">
						<span class="res-time ">轮次{{name}}</span>
						<span class="res-1 ">第一轮</span>
						<span class="res-1 ">第二轮</span>
						<span class="res-1 ">第三轮</span>
						<span class="res-1 ">第四轮</span>
						<span class="res-1 ">第五轮</span>
						<span class="res-1 ">第六轮</span>
					</div>
					<div class="res-content gray-qian">
						<div class="res-c-header fl">
							CPU
						</div>
						<div class="res-c-title fl">
							<div class="cpu-avg">
								AVG
							</div>
							<div class="cpu-max">
								MAX
							</div>
						</div>
						<ul class="res-c-content fl">
							<li class="cpu-avg-content lan">
								<span class="lan">72%</span>
								<span>22%</span>
								<span>33%</span>
								<span>44%</span>
								<span>65%</span>
								<span>22%</span>
							</li>
							<li class="cpu-avg-content">
								<span>72%</span>
								<span>22%</span>
								<span>33%</span>
								<span>44%</span>
								<span class="gray-qian">65%</span>
								<span>22%</span>
							</li>
						</ul>
					</div>
					<div class="res-content gray-qian">
						<div class="res-c-header fl">
							内存
						</div>
						<div class="res-c-title fl">
							<div class="cpu-avg">
								AVG
							</div>
							<div class="cpu-max">
								MAX
							</div>
						</div>
						<ul class="res-c-content fl">
							<li class="cpu-avg-content lan">
								<span>72%</span>
								<span>22%</span>
								<span>33%</span>
								<span>44%</span>
								<span>65%</span>
								<span>22%</span>
							</li>
							<li class="cpu-avg-content">
								<span>72%</span>
								<span>22%</span>
								<span>33%</span>
								<span>44%</span>
								<span class="gray-qian">65%</span>
								<span>22%</span>
							</li>
						</ul>
					</div>
				</ul>
			</div>-->
		</div>
		<script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script> <div class=footer> <div class=w> <div class=footer-item> <a href=# class=link>联系我们</a>| <a href=# class=link>帮助中心</a> </div> <p class=copyright> Copyright © 2017 中国移动通讯版权所有 </p> </div> </div>
	<script type="text/javascript" src="/dist/js/common.js?b7c4b0dbe368ee9a6d3f"></script><script type="text/javascript" src="/dist/js/help-center.js?b7c4b0dbe368ee9a6d3f"></script></body>

</html>