<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8 /> <meta name=Description content=测试使用 /> 
		<title>登录页</title>
	<link href="/dist/css/common.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"><link href="/dist/css/login.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"></head>
	<body>
		<div class=nav> <div class=w> <div class=logo> <img class=logo-img src=/dist/resource/logo.png alt=""/> <div class=logo-content> <p class=logo-name>云性能评测平台</p> <span class="logo-info hui">cloud Performance Benchmark Platform</span> </div> <div class=user-info> <span class="user not-login"> <span class="link js-login">登录</span> <span class="link js-register">注册</span> </span> <span class="user login"> <span class=link-text> 欢迎， <span class=username></span> </span> <span class="link js-logout">退出</span> </span> </div> </div> </div> </div>
		<ul class=nav-side> <div class="w nav-box"> </div> </ul> 
		<script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script> <div class=footer> <div class=w> <div class=footer-item> <a href=# class=link>联系我们</a>| <a href=# class=link>帮助中心</a> </div> <p class=copyright> Copyright © 2017 中国移动通讯版权所有 </p> </div> </div>
	<script type="text/javascript" src="/dist/js/common.js?b7c4b0dbe368ee9a6d3f"></script><script type="text/javascript" src="/dist/js/login.js?b7c4b0dbe368ee9a6d3f"></script></body>
</html>
