<!DOCTYPE html>
<html>

	<head>
		<meta charset=UTF-8 /> <meta name=Description content=测试使用 /> 
		<title>资源池</title>
	<link href="/dist/css/common.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"><link href="/dist/css/resource-pool.css?b7c4b0dbe368ee9a6d3f" rel="stylesheet"></head>

	<body>
		<div class=nav> <div class=w> <div class=logo> <img class=logo-img src=/dist/resource/logo.png alt=""/> <div class=logo-content> <p class=logo-name>云性能评测平台</p> <span class="logo-info hui">cloud Performance Benchmark Platform</span> </div> <div class=user-info> <span class="user not-login"> <span class="link js-login">登录</span> <span class="link js-register">注册</span> </span> <span class="user login"> <span class=link-text> 欢迎， <span class=username></span> </span> <span class="link js-logout">退出</span> </span> </div> </div> </div> </div>
		<ul class=nav-side> <div class="w nav-box"> </div> </ul> 
		<div class="w">
		
			
			<!--任务中心-->
			<div class="task">
				<img src="/dist/resource/logo-2.png" alt="" class="logo-2"/>
				<div class="task-title fl">任务中心</div>
				<div class="task-btn fr">返回</div>
			</div>
			<div class="box">
				
			</div>
			
			
			<!--基本信息-->
			<div class="message-box"></div>
			<!--业务机器列表-->
			<div class="task-item"></div>
			
			<div class="content">
				<div class="content-header">
					<span class="content-title">服务器/业务列表</span>
					<div class="css-click js-click">
					</div>
					<span class="content-time">共5台</span>
				</div>
				<div class="content-content">
					<ul class="table-item">
						<li class="service-header">
							<span class="service-num"></span>
							<span class="service-name">名称</span>
							<span class="service-id">ip地址</span>
							<span class="service-status">状态</span>
						</li>
						<li class="table-content">
							<div class="service_table_1">
								<i>压</i>
							</div>
							<div class="p-service-name">
								<p class="p-name">四川省业务-24G测试-1 </p>
								<p class="p-ID">ID_82134567</p>
							</div>
							<div class="p-service-id">
								192.168.101.112:8080
							</div>
							<div class="p-service-status">
								<span class="p-success p-content">成功</span>
							</div>
						</li>
						<li class="table-content">
							<div class="service_table_1">
								<i>压</i>
							</div>
							<div class="p-service-name">
								<p class="p-name">四川省业务-24G测试-1 </p>
								<p class="p-ID">ID_82134567</p>
							</div>
							<div class="p-service-id">
								192.168.101.112:8080
							</div>
							<div class="p-service-status">
								<span class="p-waiting p-content">运行</span>
							</div>
						</li>
						<li class="table-content">
							<div class="service_table_1">
								<i>压</i>
							</div>
							<div class="p-service-name">
								<p class="p-name">四川省业务-24G测试-1 </p>
								<p class="p-ID">ID_82134567</p>
							</div>
							<div class="p-service-id">
								192.168.101.112:8080
							</div>
							<div class="p-service-status">
								<span class="p-error p-content">失败</span>
							</div>
						</li>
						<li class="table-content">
							<div class="service_table_1">
								<i>压</i>
							</div>
							<div class="p-service-name">
								<p class="p-name">四川省业务-24G测试-1 </p>
								<p class="p-ID">ID_82134567</p>
							</div>
							<div class="p-service-id">
								192.168.101.112:8080
							</div>
							<div class="p-service-status">
								<span class="p-waiting p-content">运行</span>
							</div>
						</li>
						<li class="table-content">
							<div class="service_table_1">
								<i>压</i>
							</div>
							<div class="p-service-name">
								<p class="p-name">四川省业务-24G测试-1 </p>
								<p class="p-ID">ID_82134567</p>
							</div>
							<div class="p-service-id">
								192.168.101.112:8080
							</div>
							<div class="p-service-status">
								<span class="p-success p-content">成功</span>
							</div>
						</li>
						<li class="table-content">
							<div class="service_table_1">
								<i>压</i>
							</div>
							<div class="p-service-name">
								<p class="p-name">四川省业务-24G测试-1 </p>
								<p class="p-ID">ID_82134567</p>
							</div>
							<div class="p-service-id">
								192.168.101.112:8080
							</div>
							<div class="p-service-status">
								<span class="p-error p-content">失败</span>
							</div>
						</li>
						
						
					</ul>
				</div>

			</div>
			<div class="content">
				<div class="content-header">
					<span class="content-title">资源优化结果</span>
					<div class="css-click js-click">
					</div>
					<span class="content-time">CPU 32% 内存 64%</span>
				</div>
				<div class="content-content">
					<ul>
						<div class="resource-header">
							<div class="resource-num gray">
								序号
							</div>
							<div class="resource-business-name gray">业务名称</div>
							<div class="resource-ip gray">ip地址</div>
							<div class="resource-using ">
								<p  class="gray">在用</p>
								<span class="resource-cpu">CPU</span>
								<span class="resource-memory">内存</span>
							</div>
							<div class="resource-recommend ">
								<p class="gray">推荐</p>
								<span class="resource-cpu">CPU</span>
								<span class="resource-memory">内存</span>
							</div>
							<div class="resource-save ">
								<p class="gray">节省</p>
								<span class="resource-cpu">CPU</span>
								<span class="resource-memory">内存</span>
							</div>
						</div>
						<li class="r-item">
							<span class="r-num">
								A
							</span>
							<span class="r-name">
								省内典型多级业务一
							</span>
							<span class="r-ip">
								192.168.101.112
							</span>
							<span class="r-using">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-recommend">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-save">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
						</li>
						<li class="r-item">
							<span class="r-num">
								B
							</span>
							<span class="r-name">
								省内典型多级业务一
							</span>
							<span class="r-ip">
								192.168.101.112
							</span>
							<span class="r-using">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-recommend">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-save">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
						</li>
						<li class="r-item">
							<span class="r-num">
								C
							</span>
							<span class="r-name">
								省内典型多级业务一
							</span>
							<span class="r-ip">
								192.168.101.112
							</span>
							<span class="r-using">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-recommend">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-save">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
						</li>
						<li class="r-item">
							<span class="r-num">
								D
							</span>
							<span class="r-name">
								省内典型多级业务一
							</span>
							<span class="r-ip">
								192.168.101.112
							</span>
							<span class="r-using">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-recommend">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-save">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
						</li>
						<li class="r-item">
							<span class="r-num">
								E
							</span>
							<span class="r-name">
								省内典型多级业务一
							</span>
							<span class="r-ip">
								192.168.101.112
							</span>
							<span class="r-using">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-recommend">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
							<span class="r-save">
								<i class="r-cpu">4核</i>
								<i class="r-memory">32G</i>
							</span>
						</li>
						<!--<div class="content-header">
							<span class="content-title">资源优化结果</span>
							<div class="css-click js-click">
							</div>
							<span class="content-time">CPU 32% 内存 64%</span>
						</div>-->

					</ul>
				</div>

			</div>
		</div>

		<script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script> <div class=footer> <div class=w> <div class=footer-item> <a href=# class=link>联系我们</a>| <a href=# class=link>帮助中心</a> </div> <p class=copyright> Copyright © 2017 中国移动通讯版权所有 </p> </div> </div>
	<script type="text/javascript" src="/dist/js/common.js?b7c4b0dbe368ee9a6d3f"></script><script type="text/javascript" src="/dist/js/resource-pool.js?b7c4b0dbe368ee9a6d3f"></script></body>

</html>